
body {
  display: block;
  margin: 0;
  font-family: $font-family;
  font-weight: $general-font-weight;
  color: $text-color;
  background-color: $dark-bg;
}

button {
  font-family: $font-family;
  font-weight: $general-font-weight;
  color: $text-color;
}

a {
  color: inherit;
}

div#root {
  min-height: 100dvh;
}

.list {
  @include list-style;
}
input:-internal-autofill-selected {
  background-color: $form-input-bg !important;
  color: $text-color !important;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

//* {
//  scrollbar-width: thin;
//  scrollbar-color: #3d3d3d $dark;
//}

.hidden {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  line-height: 0;
  opacity: 0;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

* {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    width: 6px;
    height: 6px;
    background-color: #3d3d3d;
    border-radius: 6px;
  }
}

.border-dashed {
  @include border-dashed;
}

#chat-container {
  position: relative;
  z-index: 50;
  display: none;
}
