.language-switcher {
  &__trigger {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 6px;
    color: var(--primary);

    svg {
      width: 20px;
      height: 20px;
      stroke: var(--primary);
    }
  }
}
