.main-menu {
  margin-left: auto;

  .main-menu__list {
    @include list-style;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .main-menu__link {
    @include link-style;
    padding: 0.5rem;
  }

  .main-menu__welcome {
    @include link-style;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
}

@media (min-width: 600px) {
  .main-menu {

    .main-menu__link {
      padding: 0.5rem 1rem;
    }
  }
}
