.main-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-top: 1rem;
  z-index: 100;
  opacity: 0;
  transform: translateY(-20px);
  animation: headerSlideIn 1s ease-out 1.5s forwards;

  &.skip-intro {
    animation-duration: 0s !important;
    animation-delay: 0s !important;
  }

  .logo {
    width: 80px;
    height: 80px;
    flex: 0 0 auto;
  }
}

@keyframes headerSlideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 900px) {
  .main-header {
    .logo {
      width: 120px;
      height: 120px;
    }
  }
}
