.main-footer {
  position: fixed;
  inset-inline: 0;
  bottom: 0;
  padding-top: 2rem;
  z-index: 10;
  pointer-events: none;

  .main-footer__link {

  }

  .main-footer__copyright {
    text-align: center;
    .main-footer__link {
      @include link-style;
      color: $primary;
      font-size: 1.2rem;
    }
  }

  .main-footer__legal {
    text-align: center;
    margin-top: 0.4rem;
    .main-footer__link {
      @include link-style;
      font-size: 12px;
      //text-decoration: none;
      pointer-events: auto;
    }
  }

  .shineEffect {
    bottom: 0;

    &--1 {
      left: 0;
    }

    &--2 {
      right: 0;
    }

    &--3 {
      left: 2rem;
      bottom: 5rem;
      display: none;
    }
  }
}

@media (min-width: 900px) {
  .main-footer {
    .main-footer__copyright {
      padding-left: 120px;
      text-align: left;
      .main-footer__link {
        font-size: 1.2rem;
      }
    }
    .shineEffect {
      bottom: 0;

      &--1 {
        left: 2rem;
      }

      &--2 {
        right: 2rem;
      }

      &--3 {
        left: 4rem;
        bottom: 5rem;
      }
    }
  }
}
