.tarot {
  position: relative;
  padding-top: 40px;
  padding-bottom: 60px;
  background-image: url("/decor-img/hands-and-candles.webp");
  background-repeat: no-repeat;
  background-size: cover;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 45%;
    z-index: 0;
  }

  &::before {
    top: 0;
    background-image: linear-gradient(
                    to bottom,
                    $dark-bg 0%,
                    rgba(9, 9, 9, 0.92) 18%,
                    rgba(9, 9, 9, 0.04) 100%);
  }

  &::after {
    bottom: 0;
    background-image: linear-gradient(
                    to top,
                    $dark-bg 0%,
                    rgba(9, 9, 9, 0.92) 21%,
                    rgba(9, 9, 9, 0.04) 100%);
  }

  .tarot__screen-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    z-index: 0;

    svg {
      width: 400px;
      height: 400px;
      opacity: 0.4;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tarot__action-area {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3rem;
    z-index: 5;
  }

  .tarot__title {
    position: relative;
    margin-bottom: 0;
    font-size: 26px;
    z-index: 5;
    animation: fadeIn 0.5s ease-out;
  }

  .tarot__revoke-btn {
    animation: fadeIn 0.5s ease-out;
  }

  .tarot__cards-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 78px;
    width: 100%;
    z-index: 1;
  }

  .animated-card {
    width: 120px !important;
    height: 191px !important;

    &:first-child {
      transform: translate(20px, 35px) rotate(-14deg);
    }
    &:last-child {
      transform: translate(-20px, 35px) rotate(14deg);
    }
  }

  .tarot__shake-btn {
    position: relative;
    margin-bottom: 2rem;
    z-index: 10;
  }

  .tarot__card-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

  .tarot__info-block {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: self-start;
    gap: 1rem;
    height: auto;
    z-index: 1;
    filter: blur(0);
    transition: all 0.5s ease-in-out;
    overflow: hidden;

    &.blur {
      height: 0;
      filter: blur(5px);
    }
  }

  .tarot__result {
    flex: 1 1 40%;
    padding: 1rem;
    border: $border;
    border-radius: $border-radius;
    background-color: $form-input-bg;
  }

  .tarot__result-title {
    text-align: left;
  }

  .btn-try-again {
    flex: 1 1 30%;
    min-width: 100px;
    text-align: left;
    font-size: 30px;
  }

  .tarot__revoke-btn {
    position: relative;
    z-index: 1;
    margin-top: 2rem;
  }
}

@media (min-width: 900px) {
  .tarot {
    padding-top: 120px;
    padding-bottom: 80px;

    .animated-card {
      width: 280px !important;
      height: 447px !important;
      transform: none !important;
    }

    .tarot__info-block {
      flex-direction: row;
      gap: 2rem;
    }

    .btn-try-again {
      min-width: 434px;
      max-width: 500px;
    }
  }
}
