.title {
  text-align: center;
  font-weight: 100;

  &--secondary {
    margin-bottom: 4rem;
    padding: 1rem;
    font-size: 35px;
    border: var(--border);
    border-radius: var(--border-radius);
  }

  &--third {
    font-size: 20px;
  }
}
